$tablet-width: 768px;
$desktop-width: 1366px;
$textbrand-color: #2d2829;
$textbutton-color: #fefefe;
$textsecondary-color: #ffffff;
$textannotation-color: #32313d;
$brand-color: #f50049;
$bg-color: #fbebea;
$bgtoggle-color: #dddddd;
$bglight-layer: #ffffff;
$bgdark-layer: #898989;
