// ### Брекпоинты ###
$tablet-width: 768px;
$desktop-width: 1366px;

// ### Отступы от контента страницы
$mobile-padding: 20px;
$tablet-padding: 46px;
$desktop-padding: 74px;

// ##### Цветовая схема #####
$white: #ffffff;
$black: #000000;

// ### цвета текста
$brand-color: #f50049;
$textbrand-color: #2d2829;
$textprimary-color: $black;
$textsecondary-color: $white;

$textannotation-color: #32313d;
$textbutton-color: #fefefe;
$textorder-color: #2f2f2f;

$linkhover-color: $brand-color;
$linkactive-color: transparentize($brand-color, 0.7);
$linkreviews-color: #f87b91;

$textnav-color: #383838;

// ### цвета бэкграундов
$bg-color: #fbebea;
$bglight-layer: #e8e8e8;
$bgdark-layer: #898989;
$bg-plug: #aeaeae;

$bgheader-color: $white;
$bgnav-color: #e7e7e7;
$bgtoggle-color: #dddddd;
$bghowtoorder-color: #e3353d;

// ### цвета рамок
$border-individualorder: #dddddd;
