.contacts {
  @include h-padding;
  margin-top: 40px;
}

.contacts__text {
  line-height: 14px;
  color: $textprimary-color;
}

.contacts__form-label {
  display: none;
}

.contacts__form-input,
.contacts__form-textarea {
  font-size: 14px;
  line-height: 14px;
  font-family: "Circe", "Tahoma", sans-serif;
  color: $textbrand-color;
  border: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    @include h-padding($tablet-padding);
    max-width: $max-width;
    margin-top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include h-padding($desktop-padding);
    margin: 0 auto;
    margin-top: 65px;
  }

  .contacts__text {
    font-size: 20px;
    line-height: 24px;
  }
}
