.copyright__text {
  @include transparentize-color($textsecondary-color, 0.5);
  font-size: 12px;
  line-height: 25px;
  font-family: "Roboto", "Tahoma", sans-serif;
}

@media (min-width: $desktop-width) {
  .copyright__text {
    @include transparentize-color($textprimary-color, 0.5);
  }
}
