.duties {
  @include h-padding;
  margin-top: 35px;
}

.duties__text {
  color: $textprimary-color;
}

@media (min-width: $tablet-width) {
  .duties {
    @include h-padding($tablet-padding);
  }
}

@media (min-width: $desktop-width) {
  .duties {
    @include h-padding($desktop-padding);
    max-width: $max-width;
    margin: 0 auto;
  }

  .duties__text {
    font-size: 20px;
    line-height: 24px;
  }
}
