.features {
  @include h-padding;
  margin-top: 45px;
}

.features__list {
  @include list-reset;
  text-align: center;
  color: $textprimary-color;
  background-color: $white;
}

.features__icon {
  fill: $brand-color;

  &--ingredients {
    stroke-width: 5px;
    stroke: $brand-color;
  }
}

.features__name {
  font-size: 16px;
  line-height: 16px;
}

.features__text {
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .features {
    @include h-padding($tablet-padding);
    max-width: $desktop-width;
    margin-top: 70px;
  }

  .features__list {
    text-align: left;
    background-color: transparent;
  }

  .features__icon {
    &--ingredients {
      width: 48px;
      height: 48px;
    }

    &--cake-fresh {
      width: 63px;
      height: 38px;
    }
  }

  .features__name {
    font-size: 15px;
    line-height: 15px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    @include h-padding($desktop-padding);
    margin-top: 140px;
  }

  .features__icon {
    &--ingredients {
      width: 61px;
      height: 61px;
    }

    &--cake-fresh {
      width: 84px;
      height: 50px;
    }
  }

  .features__name {
    font-size: 20px;
    line-height: 27px;
  }

  .features__text {
    font-size: 20px;
    line-height: 24px;
  }
}
