.features {
  margin-top: 45px;
}

.features__title {
  text-align: center;
}

.features__tagline {
  margin-top: 5px;
  text-align: center;
}

.features__list {
  @include list-reset;
  margin-top: 13px;
  padding-bottom: 15px;
  text-align: center;
  color: $textprimary-color;
  background-color: $white;
}

.features__item {
  padding: 10px 30px 0;
}

.features__item + .features__item {
  margin-top: 5px;
}

.features__icon {
  fill: $brand-color;

  &--ingredients {
    stroke-width: 5px;
    stroke: $brand-color;
  }
}

.features__name {
  margin-top: 11px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 16px;
}

.features__text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .features {
    @include h-padding($tablet-padding);
    min-height: 380px;
    margin-top: 70px;
    background-image: url("../img/bg-features-berries-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 307px 380px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-features-berries-tablet@2x.png");
    }
  }

  .features__tagline {
    margin-top: 10px;
  }

  .features__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 63px;
    margin-right: 20px;
    padding-bottom: 0;
    text-align: left;
    background-color: transparent;
  }

  .features__item {
    position: relative;
    width: 263px;
    padding: 0;
    padding-left: 80px;
  }

  .features__icon {
    position: absolute;

    &--ingredients {
      top: 0;
      left: 9px;
      width: 48px;
      height: 48px;
    }

    &--cake-fresh {
      top: 3px;
      left: 0;
      width: 63px;
      height: 38px;
    }
  }

  .features__name {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 15px;
    line-height: 15px;
  }

  .features__text {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    @include h-padding($desktop-padding);
    max-width: $max-width;
    min-height: 690px;
    margin: 0 auto;
    margin-top: 140px;
    background-image: url("../img/bg-features-berries-desktop@1x.png");
    background-size: 556px 690px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-features-berries-desktop@2x.png");
    }
  }

  .features__title {
    margin-top: 28px;
  }

  .features__tagline {
    margin-top: 30px;
  }

  .features__list {
    margin-top: 125px;
    margin-right: 217px;
  }

  .features__item {
    width: 375px;
    padding-left: 100px;
  }

  .features__icon {
    &--ingredients {
      width: 61px;
      height: 61px;
    }

    &--cake-fresh {
      width: 84px;
      height: 50px;
    }
  }

  .features__name {
    font-size: 20px;
    line-height: 27px;
  }

  .features__text {
    font-size: 20px;
    line-height: 24px;
  }
}
