.footer-nav__menu {
  @include list-reset;
}

.footer-nav__item + .footer-nav__item {
  margin-top: 15px;
}

.footer-nav__link {
  font-family: "Roboto", "Tahoma", sans-serif;
  text-decoration: none;
  color: $textsecondary-color;

  &:hover {
    color: $linkhover-color;
  }

  &:active {
    color: $linkactive-color;
  }
}

@media (min-width: $tablet-width) {
  .footer-nav__menu {
    display: flex;
  }

  .footer-nav__item {
    &--mobile-tel {
      display: none;
    }
  }

  .footer-nav__item + .footer-nav__item {
    margin-top: 0;
    margin-left: 40px;
  }

  .footer-nav__link {
    font-size: 12px;
    line-height: 12px;
  }
}

@media (min-width: $desktop-width) {
  .footer-nav__item + .footer-nav__item {
    margin-left: 45px;
  }

  .footer-nav__link {
    font-size: 16px;
    line-height: 32px;
    font-family: "Circe", "Tahoma", sans-serif;
    color: $textbrand-color;
  }
}
