.how-to-order {
  @include h-padding;
  background-color: $bghowtoorder-color;
}

.how-to-order__list {
  @include list-reset;
  color: $textsecondary-color;
}

.how-to-order__tagline {
  font-size: 15px;
  line-height: 15px;
}

@media (min-width: $tablet-width) {
  .how-to-order {
    @include h-padding($tablet-padding);
    max-width: $desktop-width;
  }
}

@media (min-width: $desktop-width) {
  .how-to-order {
    margin: 0 auto;
  }

  .how-to-order__tagline {
    font-size: 21px;
    line-height: 27px;
  }

  .how-to-order__text {
    font-size: 20px;
    line-height: 24px;
  }
}
