.individual-order-form {
  padding-bottom: 34px;
  background-color: $white;
}

.individual-order-form__title {
  margin-top: 0;
  margin-bottom: 9px;
  margin-left: 18px;
  font-size: 22px;
  line-height: 22px;
  font-family: "Playfair Display", "Georgia", serif;
}

.individual-order-form__group {
  padding-left: 14px;
  padding-right: 23px;
  text-align: center;
}

.individual-order-form__item {
  width: auto;
}

.individual-order-form__item + .individual-order-form__item {
  margin-top: 7px;
}

.individual-order-form__label {
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-family: "Intro Script R H2 Base", "Georgia", serif;
  color: $brand-color;
}

.individual-order-form__input {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  font-family: "Circe", "Tahoma", sans-serif;
  text-align: center;
  color: $textbrand-color;
  background-color: $textsecondary-color;
  border: 1px solid $border-individualorder;
}

.individual-order-form__button-submit {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .individual-order-form {
    padding: 0 46px 44px;
  }

  .individual-order-form__title {
    margin-left: 0;
    font-size: 18px;
  }

  .individual-order-form__group {
    display: flex;
    align-items: flex-end;
    padding: 0;
  }

  .individual-order-form__item + .individual-order-form__item {
    margin-top: 0;
    margin-left: 20px;
  }

  .individual-order-form__label {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }

  .individual-order-form__input {
    width: 160px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;

    &--size {
      width: 74px;
    }
  }

  .individual-order-form__button-submit {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .individual-order-form {
    padding-right: 91px;
    padding-bottom: 72px;
    padding-left: 73px;
  }

  .individual-order-form__title {
    margin-bottom: 22px;
    font-size: 27px;
    line-height: 27px;
  }

  .individual-order-form__item + .individual-order-form__item {
    margin-left: 84px;
  }

  .individual-order-form__label {
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 30px;
  }

  .individual-order-form__input {
    width: 249px;
    font-size: 18px;

    &--size {
      width: 137px;
    }
  }
}
