.individual-order {
  @include h-padding;
  margin-top: 50px;
}

.individual-order__title {
  margin-bottom: 15px;
  text-align: center;
}

.individual-order__tagline {
  margin-bottom: 19px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .individual-order {
    margin-top: 40px;
  }

  .individual-order__title {
    margin-bottom: 5px;
  }

  .individual-order__tagline {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .individual-order {
    @include h-padding($desktop-padding);
    max-width: $max-width;
    margin: 0 auto;
    margin-top: 50px;
  }

  .individual-order__title {
    margin-bottom: 0;
  }

  .individual-order__tagline {
    margin-bottom: 50px;
  }
}
