.main-nav__toggle {
  position: absolute;
  top: 13px;
  right: 20px;
  padding: 0;
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__toggle-icon {
  &--disabled {
    display: none;
  }
}

.main-nav__menu {
  @include list-reset;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: $bgnav-color;

  &--disabled {
    display: none;
  }
}

.main-nav__item {
  padding: 14px 0;
}

.main-nav__link {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: $textnav-color;

  &:hover {
    color: $linkhover-color;
  }

  &:active {
    color: $linkactive-color;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__menu {
    top: 60px;
    width: 320px;
  }

  .main-nav__toggle {
    top: 21px;
    left: 131px;
  }

  .main-nav__toggle-icon {
    width: 26px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-left: 47px;
    padding-right: 44px;
  }

  .main-nav__toggle {
    @include visually-hidden;
  }

  .main-nav__menu {
    position: static;
    display: flex;
    flex-wrap: wrap;
    width: 924px;
    margin-right: -44px;
    background-color: transparent;
  }

  .main-nav__item {
    margin-right: 44px;
  }

  .main-nav__link {
    font-size: 13px;
    line-height: 27px;
    color: $textbrand-color;
  }
}
