.pitch {
  @include h-padding;
}

.pitch__offers-list {
  @include list-reset;
  color: $textprimary-color;
}

.pitch__offer-icon {
  fill: $brand-color;

  &--ingredients {
    stroke-width: 5px;
    stroke: $brand-color;
  }
}

@media (min-width: $tablet-width) {
  .pitch {
    @include h-padding($tablet-padding);
    max-width: $desktop-width;
  }

  .pitch__offer-icon {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: $desktop-width) {
  .pitch {
    @include h-padding($desktop-padding);
  }
}
