.reviews {
  @include h-padding;
  margin-top: 45px;
}

@media (min-width: $tablet-width) {
  .reviews {
    @include h-padding($tablet-padding);
    max-width: $desktop-width;
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    @include h-padding($desktop-padding);
    margin-top: 100px;
  }
}
